@charset "UTF-8";

/**
 * 标准三栏式布局
 */

// 左侧栏的宽度
@left-block-width: 200px;
@left-block-background-color: lightyellow;
// 右栏
@right-block-background-color: lightgreen;
@right-block-width: 50%;

// 右栏的header导航栏
@right-block-header-background-color: lightblue;
@right-block-header-height: 50px;

.layout-standard-three-col {

	/**
	 * 侧栏
	 */
	.left-block {
		background-color: @left-block-background-color;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: @left-block-width;
		overflow: auto;
	}

	/**
	 * 右侧详细内容区域
	 */
	.right-block {
		background-color: @right-block-background-color;
		position: fixed;
		top: 0;
		bottom: 0;
		left: @left-block-width;
		overflow: auto;
		padding-top: @right-block-header-height;

		nav.header {
			position: fixed;
			top: 0;
			background-color: @right-block-header-background-color;
			width: 100%;
			height: @right-block-header-height;
		}
	}
}


/**
 * 以下是一些通用定义
 */
* {
	font-family: '微软雅黑', Helvetica, Arial, sans-serif;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html { font-size: 100%; }
/**
 * 阅读正文
 */
.article-content {
	p {
		text-indent: 2em;
		margin-bottom: 1.2em;
		line-height: 1.5em;
	}
}