@charset "UTF-8";
/**
 * 标准三栏式布局
 */
.layout-standard-three-col {
  /**
	 * 侧栏
	 */
  /**
	 * 右侧详细内容区域
	 */
}
.layout-standard-three-col .left-block {
  background-color: #ffffe0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  overflow: auto;
}
.layout-standard-three-col .right-block {
  background-color: #90ee90;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 200px;
  overflow: auto;
  padding-top: 50px;
}
.layout-standard-three-col .right-block nav.header {
  position: fixed;
  top: 0;
  background-color: #add8e6;
  width: 100%;
  height: 50px;
}
/**
 * 以下是一些通用定义
 */
* {
  font-family: '微软雅黑', Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
/**
 * 阅读正文
 */
.article-content p {
  text-indent: 2em;
  margin-bottom: 1.2em;
  line-height: 1.5em;
}
