@charset "UTF-8";

/**
 * 标准三栏式布局
 */

// 侧栏的宽度
@left-block-width: 200px;
@left-block-background-color: lightyellow;
@center-block-background-color: lightblue;
@center-block-min-width: 400px; // 中间区域的最小宽度
@right-block-background-color: lightgreen;
@right-block-width: 50%;

.layout-standard-three-col {

	/**
	 * 侧栏
	 */
	.left-block {
		background-color: @left-block-background-color;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: @left-block-width;
	}

	/**
	 * 中间区域
	 */
	.center-block {
		background-color: @center-block-background-color;
		left: @left-block-width;
		right: @right-block-width; // 以 right-block 的宽度作为距右的值，
		min-width: @center-block-min-width;          // 但是要保证一个最小宽度，以免在低分辨率下宽度太窄，内容被挤压
		top: 0;
		bottom: 0;
		position: fixed;
		overflow: auto;
	}

	/**
	 * 右侧详细内容区域
	 */
	.right-block {
		background-color: @right-block-background-color;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: @right-block-width;
		overflow: auto;
	}
}


/**
 * 以下是一些通用定义
 */
* {
	font-family: '微软雅黑', Helvetica, Arial, sans-serif;
}
html { font-size: 100%; }

/**
 * 阅读正文
 */
.article-content {
	p {
		text-indent: 2em;
		margin-bottom: 1.2em;
		line-height: 1.5em;
	}
}