@charset "UTF-8";
/**
 * 标准三栏式布局
 */
.layout-standard-three-col {
  /**
	 * 侧栏
	 */
  /**
	 * 中间区域
	 */
  /**
	 * 右侧详细内容区域
	 */
}
.layout-standard-three-col .left-block {
  background-color: #ffffe0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
}
.layout-standard-three-col .center-block {
  background-color: #add8e6;
  left: 200px;
  right: 50%;
  min-width: 400px;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;
}
.layout-standard-three-col .right-block {
  background-color: #90ee90;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  overflow: auto;
}
/**
 * 以下是一些通用定义
 */
* {
  font-family: '微软雅黑', Helvetica, Arial, sans-serif;
}
html {
  font-size: 100%;
}
/**
 * 阅读正文
 */
.article-content p {
  text-indent: 2em;
  margin-bottom: 1.2em;
  line-height: 1.5em;
}
